<div class="container w-75">
    <div class="row">
        <div class="col bg">
        </div>
        <div class="col">
            <div class="text-end">
                <img src="/img/logo1.png" width="48" alt="" />
            </div>
            <h2 class="fw-bold text-center py-5">BIENVENIDO</h2>
            <!--LOGIN-->
            <form>
                <div class="mb-4">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" name="email" />
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contrasena" />
                </div>

                <div class="mb-4 form-check">
                    <input type="checkbox" name="connected" class="form-check-input" id="" />
                    <label for="connected" class="form-check-label">Mantenerme
                        conectado</label>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>

                <div class="my-3">
                    <span>Tienes una cuenta? <a href="#">Regístrar</a></span>
                    <br />
                    <span><a href="#">Recuperar Contraseña</a></span>
                </div>
            </form>

            <!--LOGIN CON REDES SOCIALES-->
            <div class="container w-100 my-5">
                <div class="row text-center">
                    <div class="col-12">Iniciar Sesion Con Redes Sociales</div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-primary w-100 my-1">
                            <div class="row align-item-center">
                                <div class="col-2">
                                    <img src="/public/img/Facebook.png" width="32" alt="" />
                                </div>

                                <div class="col-10 text-center">
                                    Facebook
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger w-100 my-1">
                            <div class="row align-item-center">
                                <div class="col-2">
                                    <img src="/img/Capa 4.png" width="32" alt="" />
                                </div>

                                <div class="col-10 text-center">
                                    Google
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script></script>